<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://www.example.org/helloworld">
	<name>Periodic Table</name>
	<description>A Periodic Table extension</description>
  	<author href="yourURL" email="jmcconnell977@gmail.com">Justin McConnell</author>
  	<icon src="hello.png"/>
</widget>